{% extends "main.html" %}

{% block primary_col %}
    <h1 name="table-name">{{ table.name }}</h1>
    {% ifequal table.owner user %}
    <ul id="table-navigation">
        <li><a href="{% url esus-phorum-table-settings-access table=table.slug category=category.slug %}" name="access">Nastavení práv</a></li>
    </ul>
    {% endifequal %}
    <form id="comment-add" method="post">
        <script type="text/javascript">
        <!--
        $(document).ready(function() {
            $('#id_text').markItUp(CTTASettings);
        });
        -->
        </script>
        {{ form.as_p }}
        <input type="submit" name="Odeslat" />
    </form>

    <form name="control" method="post">
    {{ formset.management_form }}
    <p>Group actions: <input type="submit" name="control-action" value="Delete" /></p>
    <div id="comments">
    {% for comment, comment_form in comments %}
        <div class="comment" name="comment">
            <div class="text" name="text">
                {% autoescape off %}
                    {{ comment.text }}
                {% endautoescape %}
            </div>
            {{ comment_form }}
        </div>
    {% endfor %}
    </div>
    </form>
{% endblock %}
